* {
    margin: 0;
}

header {
    height: 5vh;
    background: #D9D9D9;
}

footer {
    height: 10vh;
    background: #D9D9D9;
}

main {
    display: flex;
    align-items: stretch;
    height: 85vh;
}

main > section:first-of-type {
    background: #A4A4A4;
    width: 29vw;
}

main > section:last-of-type {
    background: #C1C1C1;
    width: 30vw;
}

main > div {
    width: 41vw;
}

main > div > section:first-child {
    height: 50%;
    background: #7F7A7A;
}

main > div > section:last-child {
    height: 50%;
    background: #6B6161;
}
