* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

.loader-container {
    display: flex;
    height: 100vh;
    width: 100vw
}

.loader {
    height: 200px;
    width: 200px;
    margin: auto;
    border: 16px solid lightgray;
    border-top: 16px solid darkslategray;
    border-radius: 50%;
    animation: loader linear 1s infinite;
}