@media screen and (min-width: 769px) and (max-width: 1279px) {
    .container {
        width: 720px;
        padding: 48px 0;
    }

    .items {
        flex-wrap: wrap;
        gap: 40px 24px;
    }

    .item {
        width: 348px;
    }
}