* {
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2.5fr 1fr;
    grid-template-columns: 1fr 1.724fr 1fr;
    grid-template-areas:
'header header header'
'aside-left main aside-right'
'footer footer footer';
}

header {
    grid-area: header;
    background: #D9D9D9;
}

footer {
    grid-area: footer;
    background: #D9D9D9;
}

main {
    grid-area: main;
    background: #A4A4A4;
}

aside {
    background: #C0BDBD;
}

aside:first-of-type {
    grid-area: aside-left;
}

aside:last-of-type {
    grid-area: aside-right;
}

