* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Inter, sans-serif;
}

.container {
    width: 1264px;
    padding: 0 20px;
    margin: auto;
}

.cards {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 492px;
    padding: 0 32px;
    border: 4px solid #554C4C;
    background: #D9D9D94D;
}

.card__badge {
    position: absolute;
    top: -50px;
    display: flex;
    width: 100px;
    height: 100px;
    border: 4px solid #554C4C;
    border-radius: 50%;
    background-color: #fff;
}

.card__image {
    width: 60px;
    height: 60px;
    margin: auto;
}

.card__title {
    font-size: 40px;
    font-weight: normal;
}

.card__content {
    width: 240px;
    font-size: 20px;
    text-align: center;
}

.card:nth-child(2),
.card:nth-child(2) .card__badge{
    border-color: #65856E;
}

