@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

body {
    font-family: Inter, sans-serif;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 64px 0;
}

.designs {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 32px;
}

.design, figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.design {
    width: 372px;
    text-align: center;
}

.design h3 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    font-family: Inter, sans-serif;
}

.img-wrapper {
    width: 100%;
    height: 280px;
    border-radius: 16px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.design p {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3C3C43;
}