@media screen and (min-width: 769px) and (max-width: 1279px) {
    .container {
        width: 720px;
        padding: 32px 0;
    }

    .design {
        width: 218px;
    }

    .img-wrapper {
        height: 164px;
    }
}