* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    padding: 80px 0;
}

input[type='text'],
input[type='password'] {
    padding: 20px 10px;
    border: 2px solid lightgray;
    font-size: 24px;
    border-radius: 4px;
    background-color: whitesmoke;
}

input::placeholder {
    font-size: 18px;
}

input[type='submit'] {
    padding: 18px 0;
    border: none;
    border-radius: 14px;
    font-size: 24px;
    font-weight: 600;
    background-color: dodgerblue;
    color: white;
}

.container {
    padding: 40px;
}

.instagram {
    width: fit-content;
    margin: auto;
}

.instagram form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.instagram form input:nth-of-type(2) {
    margin-bottom: 10px;
}

.instagram__login {
    margin-bottom: 20px;
    padding: 0 60px;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.instagram__alt-login {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.instagram__alt-login h3 {
    font-size: 24px;
    color: slategrey;
}

.instagram__alt-login a svg {
    display: inline-block;
    width: 42px;
    height: auto;
    margin-bottom: 6px;
    fill: rgb(55 81 133);
}

.instagram__alt-login a:first-of-type {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(55 81 133);
}

.instagram__alt-login a:last-of-type {
    font-size: 20px;
    color: rgb(0 55 107);
}

.instagram__register {
    padding: 40px;
    border: 2px solid lightgray;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
}

.instagram__register a {
    color: rgb(0 149 246);
}

