ul:first-child > li:nth-child(even){
    color: deeppink;
}

ul:nth-child(2) > li:nth-child(odd){
    font-size: 22px;
}

ul:nth-child(3) > li:nth-child(2n+4)::after{
    content: '!';
}

ul:nth-child(4) > li:last-child{
    color: darkmagenta;
}

ul:nth-child(5) > li::first-letter{
    font-size: 30px;
    color: red;
}
