* {
    margin: 0;
}

header {
    height: 5vh;
    background: #D9D9D9;
}

footer {
    height: 22vh;
}

main {
    display: flex;
    align-items: stretch;
    height: 73vh;
}

main article {
    width: 60vw;
    background: #A4A4A4;
}

main > div {
    width: 40vw;
}

main > div > section:first-child {
    height: 54%;
    background: #7F7A7A;
}

main > div > section:last-child {
    height: 46%;
    background: #615050;
}

footer nav {
    height: 45%;
    background: #D9D9D9;
}

footer address {
    height: 55%;
    background: #AFA9A9;
}
