* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes point {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.loader-container {
    display: flex;
    height: 100vh;
    width: 100vw
}

.loader {
    display: flex;
    gap: 16px;
    margin: auto;
}

.point {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: teal;
}

.point:nth-child(1) {
    animation: point 1s linear infinite;
}

.point:nth-child(2) {
    animation: point 1s 0.25s linear infinite;
}

.point:nth-child(3) {
    animation: point 1s 0.5s linear infinite;
}