* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: teal;
}

.form {
    margin: auto;
    /*width: 600px;*/
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
}

.form > * {
    text-align: center;
}

.form h3 {
    padding: 20px 90px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -1px;
    background-color: whitesmoke;
}

form {
    padding: 20px 70px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

form .submit {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form .submit div {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 10px 4px;
    border-color: lightgrey;
    border-style: solid;
}

input::placeholder {
    color: gray;
}

input[type='submit'] {
    padding: 4px 24px;
    border-radius: 6px;
    font-size: 12px;
    background-color: whitesmoke;
    border: 1px solid gray;
}

