* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 20px;
}

h2 {
  padding: 2rem 0;
}

h3 {
  padding: 1rem 0;
}

ul {
  list-style: none;
}

.cart {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart:nth-child(odd) {
  background-color: whitesmoke;
}

.cart:nth-child(even) {
  background-color: lightgray;
}

.cart__products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cart__product {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.cart__product-props {
  color: darkslategrey;
  font-size: 14px;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}

dt {
  font-weight: bold;
}

dt::after {
  content: ':';
}

.recipes__list {
  display: flex;
  flex-direction: column;
}

.recipe {
  padding: 1rem 0;
}

.recipe:nth-child(even) {
  background-color: whitesmoke;
}

.recipe img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
